/* .image{
    width: 100px;
    height: 100px;
} */

.card-image{
    width: 100px;
    height: 100px;
    margin: auto;
}


.card{
    /* height: 350px; */
    width: 220px;
    padding: 10px;
}

.characterDiv{
    width: 75%;
    margin: auto
}

.card-content{
    padding: 2px;
}

.hide {
    visibility: hidden;
}

.button{
    padding-top: 100px;
}